<!-- Sidebar -->

<ul>
    <li>
        <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-tachometer-alt"></i> <span>Trang chủ</span></a>
    </li>
    <li class="list-divider"></li>
    <li class="menu-title mt-3"> <span>DANH MỤC</span> </li>
    <li class="submenu">
        <a href="#">
            <i class="fas fa-suitcase"></i> <span> Loại Sản phẩm </span> <span class="menu-arrow"></span>
        </a>
        <ul class="submenu_class" style="display: none;">
            <li><a asp-area="" asp-controller="SanPhamWeb" asp-action="Index"> Sản phẩm </a></li>
            <li><a asp-area="" asp-controller="HangSanXuatWeb" asp-action="Index"> Hãng sản xuất </a></li>
            <li><a asp-controller="LoaiSanPhamWeb" asp-action="Index"> Loại sản phẩm </a></li>
            <li><a asp-area="" asp-controller="MenuWeb" asp-action="Index"> Menu </a></li>
            <li><a asp-area="" asp-controller="LoaiKhachHangWeb" asp-action="Index"> Loại khách hàng </a></li>
            <li><a asp-area="" asp-controller="Blog" asp-action="Index"> Blog </a></li>
            <li><a asp-area="" asp-controller="NhaCungCap" asp-action="Index"> Nhà cung cấp </a></li>
            <li><a asp-area="" asp-controller="MenuWeb" asp-action="Index"> Menu </a></li>
        </ul>
    </li>
    <li class="submenu">
        <a href="#">
            <i class="fas fa-user"></i> <span> Người dùng </span> <span class="menu-arrow"></span>
        </a>
        <ul class="submenu_class" style="display: none;">
            <li><a asp-area="" asp-controller="NguoiDungWeb" asp-action="Index2"> Tài khoản </a></li>
            <li><a asp-area="" asp-controller="NhanVienKho" asp-action="Index"> Nhân viên kho</a></li>
            <li><a asp-area="" asp-controller="KhachHangWeb" asp-action="Index"> Khách hàng </a></li>
            <li><a asp-area="" asp-controller="Nhacungcaps" asp-action="Create"> Nhà cung cấp </a></li>
            <li><a asp-area="" asp-controller="Donvivanchuyens" asp-action="Create"> Đơn vị vận chuyển </a></li>
        </ul>
    </li>
    <li class="submenu">
        <a href="#">
            <i class="fa fa-archive"></i> <span> Đóng gói </span> <span class="menu-arrow"></span>
        </a>
        <ul class="submenu_class" style="display: none;">
            <li><a asp-area="" asp-controller="Loaithungs" asp-action="Create"> Quy cách Sản phẩm </a></li>
            <li><a asp-area="" asp-controller="Quycachdonggois" asp-action="Create"> Quy cách đóng gói </a></li>
        </ul>
    </li>
    <li class="submenu">
        <a href="#">
            <i class="fa fa-university"></i> <span> Thanh toán </span> <span class="menu-arrow"></span>
        </a>
        <ul class="submenu_class" style="display: none;">
            <li><a asp-area="" asp-controller="Nganhangs" asp-action="Create"> Ngân hàng </a></li>
            <li><a asp-area="" asp-controller="Hinhthucthanhtoans" asp-action="Create"> Hình thức thanh toán </a></li>
        </ul>
    </li>

    <li class="list-divider"></li>
    <li class="menu-title mt-3">
        <span>QUẢN LÝ</span>
    </li>
    <li class="submenu">
        <a href="#">
            <i class="fa fa-cubes"></i> <span> Quản lý kho hàng </span> <span class="menu-arrow"></span>
        </a>
        <ul class="submenu_class" style="display: none;">
            <li><a asp-area="" asp-controller="Phieunhapkhoes" asp-action="Index"> Phiếu nhập kho </a></li>
        </ul>
    </li>
    <li class="submenu">
        <a href="#">
            <i class="far fa-money-bill-alt"></i> <span> Quản lý thanh toán </span> <span class="menu-arrow"></span>
        </a>
        <ul class="submenu_class" style="display: none;">

            <li><a asp-area="" asp-controller="Phieuthanhtoans" asp-action="Index"> Phiếu thanh toán </a></li>
        </ul>
    </li>
    <li class="list-divider"></li>
    <li class="menu-title mt-3">
        <span>BÁO CÁO</span>
    </li>
    <li>
        <a asp-controller="Loaithungs" asp-action="Baocaodoanhthu">
            <i class="fas fa-chart-bar"></i> <span> Báo cáo doanh thu </span>
        </a>
    </li>
    <li>
        <a asp-controller="Loaithungs" asp-action="Baocaotonkho">
            <i class="fas fa-chart-line"></i> <span> Báo cáo hàng tồn </span>
        </a>
    </li>


</ul>
