@using Ql_KhoHang.Dtos
@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
	// QlkhoHangContext _context = new QlkhoHangContext();
	// var employee = _context.Employees.Find(int.Parse(User.Identity.Name));

}


<div class="main-wrapper">
	<div class="page-wrapper">
		<div class="content container-fluid px-3 my-3">
			<div class="row">
				<div class="col-xl-3 col-sm-6 col-12">
					<div class="card board1 fill">
						<div class="card-body">
							<div class="dash-widget-header">
								<div>
									<h3 class="card_widget_header">("{0:#,0}", hangton) thùng</h3>
									<h6 class="text-muted">Tổng số hàng tồn</h6>
								</div>
								<div class="ml-auto mt-md-3 mt-lg-0">
									<span class="opacity-7 text-muted">
										<i class="fa fa-archive fa-lg" aria-hidden="true"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-sm-6 col-12">
					<div class="card board1 fill">
						<div class="card-body">
							<div class="dash-widget-header">
								<div>
									<h3 class="card_widget_header">("{0:#,0}", soluongban) thùng</h3>
									<h6 class="text-muted">Số lượng hàng bán ra</h6>
								</div>
								<div class="ml-auto mt-md-3 mt-lg-0">
									<span class="opacity-7 text-muted">
										<i class="fas fa-receipt fa-lg" aria-hidden="true"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-sm-6 col-12">
					<div class="card board1 fill">
						<div class="card-body">
							<div class="dash-widget-header">
								<div>
									<h3 class="card_widget_header">("{0:#,0}", thanhtoan)đ</h3>
									<h6 class="text-muted">Tổng tiền đã thanh toán</h6>
								</div>
								<div class="ml-auto mt-md-3 mt-lg-0">
									<span class="opacity-7 text-muted">
										<i class="fas fa-money-check fa-lg" aria-hidden="true"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-sm-6 col-12">
					<div class="card board1 fill">
						<div class="card-body">
							<div class="dash-widget-header">
								<div>
									<h3 class="card_widget_header">("{0:#,0}", thutien)đ</h3>
									<h6 class="text-muted">Tổng tiền thu được</h6>
								</div>
								<div class="ml-auto mt-md-3 mt-lg-0">
									<span class="opacity-7 text-muted">
										<i class="fas fa-dollar-sign fa-lg" aria-hidden="true"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-lg-6">
					<div class="card card-chart">
						<div class="card-header">
							<h4 class="card-title">CÁC LOẠI SẢN PHẨM CÒN NHIỀU HÀNG</h4>
						</div>
						<div class="card-body">
							<canvas id="myChart"></canvas>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-lg-6">
					<div class="card card-chart">
						<div class="card-header">
							<h4 class="card-title">CÁC SẢN PHẨM ĐƯỢC XUẤT NHIỀU NHẤT</h4>
						</div>
						<div class="card-body">
							<canvas height="285" id="pieChart"></canvas>
						</div>
					</div>
				</div>

				<script src="~/js/chart.js"></script>
				<script src="~/js/customchart.js"></script>

			</div>

			(TempData["LoginSuccess"] != null)
			{

			<script>
				Swal.fire({
					icon: 'success',
					title: 'Đăng nhập thành công',
					text: 'Người dùng đã đăng nhập thành công vào hệ thống.',
					showCloseButton: true,
					confirmButtonText: 'Đóng',
					confirmButtonClass: 'btn-success'
				});
			</script>

			}
		</div>
	</div>

</div>


