@model Ql_KhoHang.Dtos.HangSanXuatDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

            <div class="row mb-3">
                <h1>Tạo mới Hãng Sản Xuất</h1>

                <form asp-action="Create" method="post">
                    <div class="form-group">
                        <label for="TenHangSanXuat">Tên Hãng Sản Xuất</label>
                        <input type="text" asp-for="TenHangSanXuat" class="form-control" />
                        <span asp-validation-for="TenHangSanXuat" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Tạo mới</button>
                    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
                </form>
            </div>

@section Scripts {
    <!-- Validation Scripts -->
    <partial name="_ValidationScriptsPartial" />
    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        // Hiển thị thông báo thành công
        @if (TempData["SuccessMessage"] != null)
        {
            <text>
                    Swal.fire({
                        title: 'Thành công!',
                        text: '@Html.Raw(TempData["SuccessMessage"])',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    });
            </text>
        }

        // Hiển thị thông báo lỗi
        @if (TempData["ErrorMessage"] != null)
        {
            <text>
                    Swal.fire({
                        title: 'Lỗi!',
                        text: '@Html.Raw(TempData["ErrorMessage"])',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
            </text>
        }
    </script>
}
